<style>
    .links {
        font-family: Lucida Bright;
        list-style: none;
        padding: 5px;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        color: #a08a6e;
    }
    .comment {
        margin: 0 10px 15px 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-left: solid 1px;
        padding: 0 0 0 5px;
    }
    .title {
        margin: 5px 0px 5px 0px;
        font-size: 1.3em;
        font-weight: bold;
    }
    .corners {
        margin: 5px;
        border-radius: 10px;
        background: #EDEB9F;
        padding: 5px 5px 2px 20px;
    }
</style>

<ul class="links">
    {{#links}}
    <li class="corners">
        <div class="title">
            <a href="{{url}}">{{title}}</a>
        </div>
        <div class="comment">
            {{comment}}
        </div>
    </li>
    {{/links}}
</ul>

{{content}}

