<style>
    html {
        font-family: 'Roboto', 'Comic sans', 'Georgia', serif;
    }
    ul {
        list-style: none;
        padding: 5px;
    }
    a:link {
        text-decoration: none;
    }
    .comment {
        margin: 0 10px 15px 15px;
    }
    .title {
        margin: 5px 5px 0 5px;
        font-size: 1.3em;
        font-weight: bold;
    }
    li {
        margin: 5px;
    }
    .corners {
        border-radius: 25px;
        background: #1B9AFF;
        padding: 10px;
    }
</style>

<ul>
    {{#links}}
    <li class="corners">
        <div class="title">
            <a href="{{url}}">{{title}}</a>
        </div>
        <div class="comment">
            {{comment}}
        </div>
    </li>
    {{/links}}
</ul>

{{content}}

