<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" media="screen" href="/~d/styles/rss2enclosuresfull.xsl"?>
<?xml-stylesheet type="text/css" media="screen" href="http://feeds.feedburner.com/~d/styles/itemcontent.css"?>
<rss version="2.0">
    <channel>
        <title>beust.com audio files</title>
        <link>https://beust.com/audio</link>
        <description>beust.com audio</description>
        {{#items}}
            <item>
                <title>{{title}}</title>
                <link>{{link}}</link>
                <description>{{description}}</description>
                <pubDate>{{saved}}</pubDate>
                <guid isPermalink="false">1</guid>
                <enclosure url="{{link}}" length="0" type="audio/mpeg" />
            </item>
        {{/items}}
    </channel>
</rss>
